{% extends "base.html" %}
{% block title %} Home Page {% endblock %}


{% block content %}    
 
{% if session_context.user_level == 1 %}
<div class="card text-center">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Assign Workers</h5>
      <p class="card-text">View assignments where all needed workers are not assigned and assign workers manually from list of available workers</p>
      <a href="{{url_for('views.view_assignments')}}" class="btn btn-primary">View Assignments</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
{% else %}

{% endif %}
{% endblock %}