{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}    
  
{% for i in data %}
    <div class="card text-center my-2">
        <!-- <div class="card-header">
        
        </div> -->
        <div class="card-body">
            <h3>Assignment Deatils</h3>
            <table style="border : 1px solid black; width: 100%;">
                <tr>
                    <th>Assignment ID</th>
                    <th>Contractor ID</th>
                    <th>Create Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Workers Needed</th>
                    <th>Wage</th>
                    <th>Skill Needed</th>
                    <th>City</th>
                    <th>Worker Assigned</th>
                    <th>Status</th>
                </tr>
                
                <tr>
                    <td><input type="text" class="form-control" name = "assignment_id" id="exampleInputEmail1"  value="{{i['assignment_id']}}" style = "display: none;" readonly>{{i['assignment_id']}}</td>
                    <td><input type="text" class="form-control" name = "contractor_id" id="exampleInputEmail1"  value="{{i['contractor_id']}}" style = "display: none;" readonly>{{i['contractor_id']}}</td>
                    <td><input type="text" class="form-control" name = "create_date" id="exampleInputEmail1"  value="{{i['create_date']}}" style = "display: none;" readonly>{{i['create_date']}}</td>
                    <td><input type="text" class="form-control" name = "start_date" id="exampleInputEmail1"  value="{{i['start_date']}}" style = "display: none;" readonly>{{i['start_date']}}</td>
                    <td><input type="text" class="form-control" name = "end_date" id="exampleInputEmail1"  value="{{i['end_date']}}" style = "display: none;" readonly>{{i['end_date']}}</td>
                    <td><input type="text" class="form-control" name = "worker_needed" id="exampleInputEmail1"  value="{{i['worker_needed']}}" style = "display: none;" readonly>{{i['worker_needed']}}</td>
                    <td><input type="text" class="form-control" name = "wage" id="exampleInputEmail1"  value="{{i['wage']}}" style = "display: none;" readonly>{{i['wage']}}</td>
                    <td><input type="text" class="form-control" name = "skill_needed" id="exampleInputEmail1"  value="{{i['skill_needed']}}" style = "display: none;" readonly>{{i['skill_needed']}}</td>
                    <td><input type="text" class="form-control" name = "city" id="exampleInputEmail1"  value="{{i['city']}}" style = "display: none;" readonly>{{i['city']}}</td>
                    <td><input type="text" class="form-control" name = "worker_assigned" id="exampleInputEmail1"  value="{{i['worker_assigned']}}" style = "display: none;" readonly>{{i['worker_assigned']}}</td>
                    <td><input type="text" class="form-control" name = "status" id="exampleInputEmail1"  value="{{i['status']}}" style = "display: none;" readonly>{{i['status']}}</td>
                </tr>
            </table>

        </div>

    </div>

{% endfor %}


<div class="card text-center my-2">

    <div class="card-body">
        <h3>Available Worker's List</h3>
        

            <table style="border : 1px solid black; width: 100%;">
                <tr>
                    <th>Worker ID</th>
                    <th>Phone Number</th>
                    <th>Aadhar Number</th>
                    <th>D.O.B</th>
                    <th>City</th>
                    <th>Full Name</th>
                    <th>Start Date</th>
                    <th>Notification Token</th>
                    <th>Skill</th>
                    <th>Checkbox</th>
                </tr>
                {% for j in data2 %}
                    <tr>
                        <td><input type="text" class="form-control" name = "assignment_id" id="exampleInputEmail1"  value="{{j['worker_id']}}" style = "display: none;" readonly>{{j['worker_id']}}</td>
                        <td><input type="text" class="form-control" name = "contractor_id" id="exampleInputEmail1"  value="{{j['phone_number']}}" style = "display: none;" readonly>{{j['phone_number']}}</td>
                        <td><input type="text" class="form-control" name = "create_date" id="exampleInputEmail1"  value="{{j['aadhar_number']}}" style = "display: none;" readonly>{{j['aadhar_number']}}</td>
                        <td><input type="text" class="form-control" name = "start_date" id="exampleInputEmail1"  value="{{j['dob']}}" style = "display: none;" readonly>{{j['dob']}}</td>
                        <td><input type="text" class="form-control" name = "end_date" id="exampleInputEmail1"  value="{{j['city']}}" style = "display: none;" readonly>{{j['city']}}</td>
                        <td><input type="text" class="form-control" name = "worker_needed" id="exampleInputEmail1"  value="{{j['full_name']}}" style = "display: none;" readonly>{{j['full_name']}}</td>
                        <td><input type="text" class="form-control" name = "wage" id="exampleInputEmail1"  value="{{j['start_date']}}" style = "display: none;" readonly>{{j['start_date']}}</td>
                        <td><input type="text" class="form-control" name = "skill_needed" id="exampleInputEmail1"  value="{{j['notification_token']}}" style = "display: none;" readonly>{{j['notification_token']}}</td>
                        <td><input type="text" class="form-control" name = "city" id="exampleInputEmail1"  value="{{j['skill']}}" style = "display: none;" readonly>{{j['skill']}}</td>

                    </tr>
                {% endfor %}
            </table>
        
    </div>

</div>

{% endblock %}